<!DOCTYPE html>
<html>
  <head>
    <title id="title">{$head_title}</title>
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <script type="text/javascript" language="javascript"
            src="/stc/prototype-1.7.1.js">
    </script>
    {
      for my $path (@scripts) {
          $OUT .= "<script type='text/javascript' language='javascript' src='".(Util::PageGenerator::static_resource_link $root, $path)."'></script>\n"
      }
    }
    <link rel="stylesheet" type="text/css" href="{Util::PageGenerator::static_resource_link $root, '/stc/style.css'}">
    <link id="favicon" rel="shortcut icon" href="/favicon.ico" />
    <meta name=viewport content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="layout-sidebar">
      <div id="sidebar">
        <div class="sidebar-top"></div>
        <script>renderSidebar($("sidebar"));</script>
      </div>
      <div class="sidebar-content">
        <div class="sidebar-top">
          <h3 id="heading">{$title}</h3>
        </div>
        {$content}
      </div>
    </div>

    <div class="footer">
      Terra Mystica is a trademark of <a href='http://www.feuerland-spiele.de/en/'>Feuerland Spiele</a>. This site was created by <a href="https://www.snellman.net/">Juho Snellman</a>.
    </div>
  </body>
</html>
