<!DOCTYPE html>
<html>
  <head>
    <title id="title">Terra Mystica - {$title}</title>
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <script type="text/javascript" language="javascript"
            src="/stc/prototype-1.7.1.js">
    </script>
    {
      for my $record (@scripts) {
          $OUT .= "<script type='text/javascript' language='javascript'\nsrc='$record->{url}?tag=$record->{csum}'>\n</script>\n"
      }
    }
    <link rel="stylesheet" type="text/css" href="/stc/style.css">
    <link id="favicon" rel="shortcut icon" href="/favicon.ico" />
    <meta name=viewport content="width=device-width, initial-scale=1">
  </head>
  <body>
    <table>
      <tr>
        <td valign="top" id="sidebar">
          <script>renderSidebar($("sidebar"));</script>
        <td valign="top">
          <h4 id="heading">{$title}</h4>
          {$content}
    </table>
  </body>
</html>
