<!DOCTYPE html>
<html>
  <head>
    <title id="title">Terra Mystica</title>
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <script type="text/javascript" language="javascript"
            src="/stc/prototype-1.7.1.js">
    </script>
    {
      for my $record (@scripts) {
          $OUT .= "<script type='text/javascript' language='javascript'\nsrc='$record->{url}'>\n</script>\n"
      }
    }
    <link rel="stylesheet" type="text/css" href="/stc/style.css">
    <link id="favicon" rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body id="root" class="gameview">
    <div id="header"><div><a href="/" accesskey="h">Home</a></div><div><a href="/usage.html" accesskey="u">Help</a></div><div id="user-info"></div><div style="padding-left: 100px" id="header-gamename"></div></div>
    <div id="game-root">
    </div>
    <script language="javascript">
       init($("game-root"));
    </script>
  </body>
</html>
