div.faction-board {
    font: 14px Verdana;
    background-color: #eee;
    border-style: solid;
    border-width: 1px;
    border-color: #444;
    margin-bottom: 10px;
    padding: 5px;
    width: 1024px;
    float: left;
}

div.faction-info {
    float: left;
    width: 300px;
}

div.pool {
    font: 14px Verdana;
    background-color: #eee;
    border-style: solid;
    border-width: 1px;
    border-color: #444;
    margin: 2px;
    margin-bottom: 10px;
    padding: 5px;
    width: 1024px;
    min-height: 220px;
    float: left;
}

div.bonus {
    font: 11px Verdana;
    border-style: solid;
    background-color: #ffd;
    margin: 2px;
    padding: 3px;
    width: 80px;
    height: 80px;
    float: left;
}

div.favor {
    float: left;
    background-color: #f0e0e0;
    border-style: solid;
    font: 11px Verdana;
    margin: 2px;
    padding: 3px;
    width: 80px;
    height: 80px;
}

div.scoring {
    border-style: solid;
    font: 11px Verdana;
    margin: 2px;
    padding: 3px;
    width: 90px;
    height: 71px;
}

div.scoring-head {
    font-weight: bold;
}

div.town {
    float: left;
    background-color: #def;
    border-style: solid;
    font: 11px Verdana;
    margin: 2px;
    padding: 3px;
    width: 60px;
    height: 80px;
}

table {
    border-style: none;
    border-width: 1px;
}

canvas#map {
    border-style: none;
    border-width: 1px;
}
canvas#cults {
    border-style: none;
    border-width: 1px;
}

canvas.action {
    float: left;
}

canvas.colorcycle {
    float: left;
    margin: 2px;
    padding: 6px;
}

div#error {
    background-color: #e33;
    font-weight: bold;
    width: 700px;
    margin: 20px; 
}

div#action_required {
    background-color: #eee;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    max-width: 700px;
}

table.income-table {
    border-spacing: 0px;
    margin-top: 10px;
    font: 14px Verdana;    
}

table.income-table tr td {
    padding-right: 2ex;
}

table.building-table {
    border-spacing: 0px;
    margin-top: 10px;
    font: 14px Verdana;    
}

table.building-table tr td {
    padding-right: 1ex;
    padding-left: 1ex;
}

table.building-table tr td:nth-child(odd) {
    background-color: #dcdcdc;
}

table.vp-breakdown {
};

table#ledger {
    border-spacing: 0px;
}

table#ledger tr td {
    margin: 0px;
    font: 14px Verdana;
}

table#ledger tr td.ledger-delta {
    padding-left: 1ex;
    padding-right: 0.5ex;
}

table#ledger tr td.ledger-value {
    padding-right: 1ex;
    padding-left: 0.5ex;
    color: #888;
}

span.warning {
    background-color: #e88;
}


