p {
    max-width: 50ex;
}

div.faction-board {
    font: 14px Verdana;
    background-color: #eee;
    border-style: solid;
    border-width: 1px;
    border-color: #444;
    margin-bottom: 10px;
    padding: 5px;
    width: 1024px;
    float: left;
}

div.faction-info {
    float: left;
    width: 300px;
}

div.pool {
    font: 14px Verdana;
    background-color: #eee;
    border-style: solid;
    border-width: 1px;
    border-color: #444;
    margin: 2px;
    margin-bottom: 10px;
    padding: 5px;
    width: 1024px;
    min-height: 220px;
    float: left;
}

div.bonus {
    font: 11px Verdana;
    border-style: solid;
    background-color: #ffd;
    margin: 2px;
    padding: 3px;
    width: 80px;
    height: 80px;
    float: left;
}

div.favor {
    float: left;
    background-color: #f0e0e0;
    border-style: solid;
    font: 11px Verdana;
    margin: 2px;
    padding: 3px;
    width: 80px;
    height: 80px;
}

div.scoring {
    border-style: solid;
    font: 11px Verdana;
    margin: 2px;
    padding: 3px;
    width: 90px;
    height: 71px;
    background-color: #fff;
}

div.scoring-head {
    font-weight: bold;
}

div.town {
    float: left;
    background-color: #def;
    border-style: solid;
    font: 11px Verdana;
    margin: 2px;
    padding: 3px;
    width: 60px;
    height: 80px;
}

table#main-data {
    display: none;
}

table {
    border-style: none;
    border-width: 1px;
}

canvas#map {
    border-style: none;
    border-width: 1px;
}
canvas#cults {
    border-style: none;
    border-width: 1px;
}

canvas.action {
    float: left;
}

canvas.colorcycle {
    float: left;
    margin: 2px;
    padding: 6px;
}

div#error {
    background-color: #e33;
    font-weight: bold;
    width: 700px;
    margin: 20px; 
}

div#action_required {
    background-color: #eee;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    max-width: 1024px;
}

table.income-table {
    border-spacing: 0px;
    margin-top: 10px;
    font: 14px Verdana;    
}

table.income-table tr td {
    padding-right: 2ex;
}

table.building-table {
    border-spacing: 0px;
    margin-top: 10px;
    font: 14px Verdana;    
}

table.building-table tr td {
    padding-right: 1ex;
    padding-left: 1ex;
}

table.building-table tr td:nth-child(odd) {
    background-color: #dcdcdc;
}

table.vp-breakdown {
    font: 14px Verdana;    
}

table#ledger {
    border-spacing: 0px;
    padding-bottom: 40px;
}

table#ledger tr td {
    margin: 0px;
    font: 14px Verdana;
}

table#ledger tr td.ledger-delta {
    padding-left: 1ex;
    padding-right: 0.5ex;
}

table#ledger tr td.ledger-value {
    padding-right: 1ex;
    padding-left: 0.5ex;
    color: #888;
}

span.warning {
    background-color: #e88;
}

div#preview_status {
    font: 14px Verdana;
    font-weight: bold;
}

pre#preview_commands {
    width: 60ex;
    background-color: #eee;
    margin-left: 20px;
}

div#data_entry {
    margin-bottom: 10px;
}

div#data_entry_tabs {
    margin-bottom: 10px;
}

div#move_entry_explanation {
    margin-top: 5px;
    font: 14px Verdana;
    font-weight: bold;
    max-width: 60ex;
}

div#planning_entry_explanation {
    margin-top: 5px;
    font: 14px Verdana;
    max-width: 60ex;
}

table#recent_moves {
    margin-top: 5px;
    margin-left: 10px;
}

div#header {
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: #eee;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    max-width: 1040px;    
}

div#header div {
    min-width: 150px;
    display: inline-block;
}

div#user-info {
}

div.changelog {
    min-width: 60ex;
}

div.changelog-entry {
    margin-left: 2ex;
}

tr#game-status-finished {
    color: #ccc;
}

tr.game-status-finished td { 
    background-color: #ccc;
}

tr.game-status-action-required td {
    background-color: #cfc;
}

table.gamelist {
    margin-left: 2ex;
    width: 80ex;
}

table.gamelist thead {
    background-color: #ddd;
}

table.gamelist td {
    padding-right: 2ex;
}

button {
    margin-right: 5px;
    margin-bottom: 2px;
}

div#settings table tr td {
    vertical-align: top
}

div#settings ul {
    margin-top: 0px
}