div.faction-board {
    font: 14px Verdana;
    border-style: solid;
    margin: 2px;
    padding: 3px;
    width: 300px;
    height: 220px;
    float: left;
}

div.pool {
    border-style: solid;
    margin: 2px;
    padding: 3px;
    width: 1200px;
    height: 220px;
    float: left;
}

div.bonus {
    font: 12px Verdana;
    border-style: solid;
    background-color: #ffd;
    margin: 2px;
    padding: 3px;
    width: 80px;
    height: 80px;
    float: left;
}

div.favor {
    float: left;
    border-style: solid;
    font: 12px Verdana;
    margin: 2px;
    padding: 3px;
    width: 80px;
    height: 80px;
}

div.favor-oval {
    font: 10px Verdana;
    border-style: solid;
    background-color: #f0c040;
    margin: 2px;
    padding-top: 10px;
    padding-left: 12px;
    width: 60px;
    height: 40px;

    -moz-border-radius: 60px / 40px;
    -webkit-border-radius: 60px / 40px;
    border-radius: 60px / 40px;
}

div.scoring {
    border-style: solid;
    font: 12px Verdana;
    margin: 2px;
    padding: 3px;
    width: 80px;
    height: 70px;
}

div.scoring-head {
    font-weight: bold;
}

table { border-style: solid }

canvas#map { border-style: solid }
canvas#cults { border-style: solid }

canvas.action {
    float: left;
}

div#error {
    background-color: #e33;
    font-weight: bold;
    width: 800px;
}

table#ledger tr td {
    padding-left: 2ex;
    padding-right: 2ex;
};

